<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>


  <div id="app">
    <header>
      <div id="header_wrap">
        <img src="img/logo-header.png" alt="" id="logo_header">
        <nav>
          <div id="nav_left">
            <ul>
              <li>Home</li>
              <li>Serie TV</li>
              <li>Film</li>
              <li>Nuovi e popolari</li>
              <li>La mia lista</li>
            </ul>
          </div>
          <div id="nav_right">
            <input type="text" name="" value="" v-model="searchText" v-on:keyup.enter="getSearch(searchText)">
            <i class="fas fa-search"></i>
            <span>BAMBINI</span>
            <i class="fas fa-gift"></i>
            <i class="fas fa-bell"></i>
            <img src="img/user_avatar.png" alt="">
            <i class="fas fa-caret-down"></i>
          </div>
        </nav>
      </div>
    </header>







    <div id="jumbotron">
      <img class="vignetta" src="img/vignetta.png" alt="">
      <div id="jumbotron_text_wrap">

        <h2 id="h2_jumboTitle">Oggi al n 10 in italia</h2>
        <div id="main_overview">

          <h2 id="h2_jumboOverview">Arresta i criminali e si fa beffe dell'autorità, ma il nuovo comandante è decisamente un osso duro. Come andrà a finire?</h2>
        </div>
      </div>

    </div>





    <div id="uber_wrap">

      <div class="main">
        <div class="left_box" @click="slideArrayRight(searchResultsTotal)" v-if="showChevron">
          <i class="fas fa-chevron-left"></i>
        </div>




        <transition-group class="main_content" name="slide" tag="ul">


          <li class="card" v-for="(result,i) in searchResultsTotal" :style="getBackground(result.poster)" v-bind:key='result.id'>
            <!-- <transition name="slide" :style="getBackground(result.poster)"> -->
            <div class="overlay">


              <div class="overlay_bottomBox">
                <div class="card_nav">
                  <div class="card_nav_left">
                    <div class="i_button">

                      <i class="fas fa-play"></i>
                    </div>
                    <div class="i_button">

                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="i_button">

                      <i class="far fa-thumbs-up"></i>
                    </div>
                    <div class="i_button">

                      <i class="far fa-thumbs-down"></i>
                    </div>
                  </div>
                  <div class="card_nav_right">

                    <div class="i_button i_button_info" @click="resizeCard(result)">
                      <i class="fas fa-chevron-down"></i>

                    </div>
                  </div>

                </div>
                <span>
                  <strong>Titolo:</strong>{{result.titolo}}
                </span>
                <span>
                  <strong>Genere:</strong><span v-for="(genere, i) in result.genere">{{i < 1?genere:`, ${genere}`}}</span>
                </span>

              </div>

            </div>
            <!-- </transition> -->
          </li>





          <!-- <transition name="fade">
          <div class="info_box" v-if="result.resize" v-for="result in searchResultsTotal">




            <div class="main_info" :style="getBackground(result.poster)">
              <div class="overview">
                <div class="i_button_close" @click="resizeCard(result)">
                  <i class="fas fa-times"></i>

                </div>
                <span>
                  <strong>Trama:</strong>
                  <span>{{result.overview}}</span>
                </span>
              </div>

            </div>
          </div>
          </transition> -->



        </transition-group>



        <div class="right_box" @click="slideArrayLeft(searchResultsTotal)" v-if="showChevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>










  </div>










  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>

</html>
