* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: 'Roboto', sans-serif;
}

img {
  color: white;
  font-size: 30px;
}
body {
  overflow-x: hidden;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 70px;
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, rgba(0, 0, 0, 0.7693277994791666) 6%, rgba(0, 0, 0, 0.9121849423363095) 37%, rgba(0, 0, 0, 1) 72%);
  background: -webkit-linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, rgba(0, 0, 0, 0.7693277994791666) 6%, rgba(0, 0, 0, 0.9121849423363095) 37%, rgba(0, 0, 0, 1) 72%);
  background: linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, rgba(0, 0, 0, 0.7693277994791666) 6%, rgba(0, 0, 0, 0.9121849423363095) 37%, rgba(0, 0, 0, 1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3", endColorstr="#000000", GradientType=1);
  z-index: 4000;
}

#logo_header {
  width: 120px;
  height: 70px;
}

#header_wrap {
  color: white;
  width: calc(100% - 120px);
  display: flex;
  margin: auto;
  /* justify-content: space-between;
  align-items: center; */
  width: 90%;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul  {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  list-style: none;
}
nav ul > li {
  margin: 10px;
}
#nav_left ul li {
  cursor: pointer;
}
#nav_right{
  display: flex;
  align-items: center;
}
#nav_right i {
  font-size: 30px;
  margin: 10px;

}
#nav_right img,
#nav_right span {
  margin: 10px;
}
#nav_right img{
  height: 45px;
  border-radius: 3px;
}
#nav_right i:last-child {
  font-size: 15px;
  margin: 0;
}
#jumbotron {
  color: white;
  position: relative;
  width: 100vw;
  height: 85vh;
  margin-top: 30px;
  /* background-color: yellow; */
  background-image: url('../../img/header.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* #jumbotron_img {
  width: 100%;
} */
.vignetta {
  position: absolute;
  left: 5%;
  top: 10%;
}

#main_overview {
  width: 45vw;
}

#jumbotron_text_wrap {
  position: absolute;
  top: 50vh;
  left: 5%;
}

#h2_jumboTitle {
  font-size: 35px;
  font-weight: 900;
}

#h2_jumboOverview {
  font-size: 28px;
}

/* MAIN CONTENT */
#uber_wrap {
  width: 100%;
  position: absolute;
  top: 70vh;
  left: -15%;
  width: 130%;


}
.main {
  position: relative;
  /* display: flex; */
}
.main_content {
  list-style: none;
  /* position: absolute;
  top: -17vh;
  left: -15%;
  width: 130%; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.right_box,
.left_box {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  height: 15vw;
  width: 15.9%;
  margin: 20px 0 ;
  background-color: black;
  opacity: .7;
  border: 1px solid black;
  z-index: 100;
}
.left_box  {
  left: 0;
  justify-content: flex-end;
}
.right_box  {
  right: 0;
  justify-content: flex-start;
  width: 15.5%;

}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 40px;
  padding: 30px;
}
/* CARD */
.card {
  position: relative;
  top: 0vw;
  min-width: 19vw;
  height: 15vw;
  margin: 20px 1%;
  /* border: 2px solid white; */
  border-radius: 5px;
  /* background-image: url('https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-delay:  0s;
  transition-duration:  .8s;


}
.card:hover{
  transition-delay:  0.6s;
  transition-duration:  1s;
  min-width: 19vw;
  height: 30vw;
  transform: scale(1.5);
  z-index: 1000;
  top: -23vw;

}
.stars_wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.flag_img {
  height: 14px;
  position: absolute;
  z-index: 0;
}

.stars_wrap>i {
  color: gray;
  text-shadow: 0 2px 3px #000;
  font-size: 20px;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* background-color: rgba(0,0,0,0);

  transition-duration: background-color 3s;
  transition-delay: background-color 1.5s; */

}

/* .card:hover>.overlay {
  background-color: rgba(0,0,0,0.3);

} */
.overlay_bottomBox{
  /* display: none; */
  display: flex;
  flex-direction: column;
  height: 0%;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  transition-duration:  1s;
  transition-delay:  1s;
  overflow: hidden;
  padding: 20px 10px;

  /* background-color: yellow; */
}
.overlay_bottomBox span {
  margin: 10px 0;
}
.card:hover .overlay_bottomBox{
  background-color: rgb(24, 24, 24);
  height: 30%;
}
.card_nav{
  display: flex;
}
.card_nav_left {
  display: flex;
  width: 50%;

}
.card_nav_right {
  display: flex;
  justify-content: flex-end;
  width: 50%;

}
.i_button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 12px;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 1s;

}
.card:hover .i_button{
  opacity: 1;


}
.i_button i {
  font-size: 16px;


}
.i_button_info .fa-chevron-down:hover {
  cursor: pointer;
}
.info_box{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 3000;
}
.main_info{
  width: 60vw;
  height: 100%;
  margin: auto;
  background-color: rgb(24, 24, 24);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
}
.overview {
  position: absolute;
  bottom: 0;
  width: 60vw;
  height: 40%;
  color: white;
  padding: 140px 140px 20px 20px;
  background: rgb(255,255,255);
   background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 4%, rgba(24,24,24,0.7077031496192228) 15%, rgba(24,24,24,1) 27%);
   background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 4%, rgba(24,24,24,0.7077031496192228) 15%, rgba(24,24,24,1) 27%);
   background: linear-gradient(180deg, rgba(255,255,255,0) 4%, rgba(24,24,24,0.7077031496192228) 15%, rgba(24,24,24,1) 27%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#181818",GradientType=1);
   transition-duration: 1s;

 }
 .i_button_close {
   position: absolute;
   right: 2vw;
   top: 14vh;
   display: inline-block;
   color: white;
   font-size: 20px;
   padding: 20px;
   border: 2px solid white;
   border-radius: 50%;

 }
.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
  padding: 15px;
  opacity: 0;
  color: white;
}

.card:hover .description {
  opacity: 1;
  transition: opacity .2s linear;
}

.description i {
  color: yellow;
}

/* da rivedere */
.card:hover>.flag_img,
.card:hover>.stars_wrap {
  display: none;
}

/* CARD TRANSITION */




/* .fade-enter-active,
.fade-leave-active {
  transition: opacity .8s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
} */

/* SILDE */
.slide-enter-active {
  transition: opacity .3s ease;
}
.slide-leave-active {
  transition: opacity .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  /* transform: translateX(10px); */
}
